:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  --main-text: #212529;
}

body {
  margin: 0 auto;

  padding: 0;
  color: var(--main-text);
}
.container {
  max-width: 850px;
  padding: 0;
  margin: 0 auto;
}
.hero,
.content {
  text-align: center;
  padding: 100px 20px;
}
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  margin-top: 15px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);

  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  margin: 0 20px;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.primary-link {
  border-radius: 4px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);

  color: white;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-shadow: var(--box-shadow);
}

.col-md {
  vertical-align: middle;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.row {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

nav {
  padding: 20px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40 px;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 500;
}
nav a {
  text-decoration: none;
  color: var(--main-text);
  opacity: 70%;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--primary-color);
}
footer {
  margin-top: 40px;
  background: var(--primary-color);
  padding: 15px 25px;
  margin-left: 0;
  margin-right: 0;
}

footer .social-links a {
  margin: 0 20px;
  color: white;
  transition: all 100ms ease-in-out;
  font-size: 22px;
}
footer .social-links a:hover {
  font-size: 26px;
}

@media (max-width: 767.99px) {
  .col-img {
    text-align: center !important;
  }

  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  nav li {
    font-size: 14px;
  }
  .work {
    text-align: center;
  }
  .hero,
  .content {
    padding-top: 50px;
  }
  footer {
    margin-top: 18px;
    background: var(--primary-color);
    padding: 15px 0;
  }
}
